@tailwind base;
@tailwind components;
@tailwind utilities;

.box:hover .featureCard{
    box-shadow: 0 0 10px black;
}

.card{
    box-shadow: 0px 2px 22px rgb(202 202 202 / 25%);
}

.corefeaturesection{
    background-size: 100% 100%;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.CTAsection{
    background-size: 100% 100%;
}

.companiesList{
    animation: 5s infinite linear moveCompany;
}

@keyframes moveCompany{
    0%{
        top: 0;
    }
    100%{
        top: -100%;
    }
}
